* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('/images/seemlessBGC.jpg');
    background-repeat: repeat;
    overflow: none;
}

#logo {
    width: 120px;
    height: 120px;
    opacity: 0.7;
}

#content {
    margin: 20px auto;
    margin-bottom: 0;
    text-align: center;
    display: block;

    div {
        overflow: auto;

        h3 {
            margin-top: 7px;
            font-family: $fontHeaderA;
        }

        p {
            display: flex;
            font-family: $fontText;
        }
    }

}

#sponsors {
    margin: 0 auto;
    text-align: center;
    justify-content: space-evenly;

    img {
        width: 280px;
    }
}

div {
    margin: 0px auto;
}

h2 {
    font-family: $fontHeaderB;
    margin-bottom: 40px;
}

.box {
    width: 400px;
    height: 400px;
    background-color: $buttonGreen;
    border: #000 2px solid;
    margin: 30px 30px;
    display: inline-block;

    &:nth-child(3n+1) {
        background-color: $buttonPurple;
    }

    &:nth-child(3n+2) {
        background-color: $buttonYellow;
    }
}


.main {
    width: 75vw;
    background-color: rgb(247, 247, 204);
    left: 0;
    right: 0;
    margin: 0 auto;
}

.carousel {
    width: 35vw;
    margin: 0 auto;
}

.container-fluid,
.navbar {
    padding: 0;
    margin: 0;
}

.card {
    width: 20vw;
    height: 40vh;
    overflow: auto;

    img {
        width: 40vw;
    }
}

footer {
    background-color: $buttonPurple;
    width: 75vw;
    height: 60px;
    margin: 0 auto;
    text-align: center;

    h5 {
        line-height: 2.7;
    }
}

nav {
    font-size: 1.5rem;

    div {
        background-color: $buttonPurple;

        div {
            display: flex;
            justify-content: space-evenly;

            ul {
                li {
                    padding: 5px 60px;
                    margin: 0 37px;
                    border-radius: 12px;

                    &:nth-child(2n) {
                        background-color: $buttonGreen;
                        font-family: $fontHeaderB;

                        &:active {
                            background-color: lighten($buttonGreen, 10%);
                        }
                    }

                    &:nth-child(2n+1) {
                        background-color: $buttonYellow;
                        font-family: $fontHeaderB;

                        &:active {
                            background-color: darken($buttonYellow, 10%);
                        }
                    }

                }
            }
        }
    }
}