$buttonPurple: #9453a6;
$buttonGreen: #8CBF3F;
$buttonYellow: #F2CC0F;
$textWhite: #F2F2F2;
$textBlack: #0D0D0D;
$fontHeaderA: Pattaya;
$fontHeaderB: Henny Penny;
$fontText: Roboto;

@mixin mobile {
    @media (max-width:768px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width:991px) {
        @content;
    }
}

@mixin desktop {
    @media (max-width:1200px) {
        @content;
    }
}