/*ALL PAGES CONTENT START*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/seemlessBGC.jpg");
  background-repeat: repeat;
  overflow: none;
}

div {
  margin: 0px auto;
}

/*Main content box START*/
.main {
  width: 75vw;
  background-color: beige;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}
.main h2 {
  font-family: Henny Penny;
  margin-bottom: 40px;
  padding-top: 10px;
  text-align: center;
}

/*Main content box END*/
/*Footer START*/
footer {
  color: white;
  background-color: black;
  width: 75vw;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}
footer h5 {
  line-height: 2.7;
}
@media (max-width: 768px) {
  footer h5 {
    font-size: 1em;
  }
}
footer #quizBTN {
  background-color: #9453a6;
  border-radius: 5px;
  color: white;
}
footer #quizBTN #quizANC {
  text-decoration: none;
  color: white;
}

/*Footer END*/
/*Navbar related style START*/
.container-fluid,
.navbar {
  padding: 0;
  margin: 0;
}

nav {
  font-size: 1.5rem;
}
nav #logo {
  width: 120px;
  height: 120px;
  opacity: 0.7;
}
nav div {
  background-color: #9453a6;
}
nav div div {
  display: flex;
  justify-content: space-evenly;
}
nav div div ul li {
  padding: 5px 0;
  margin: 0 37px;
  border-radius: 12px;
  width: 10vw;
  text-align: center;
  font-family: Henny Penny;
}
nav div div ul li:nth-child(2n) {
  background-color: #8CBF3F;
  border-bottom: 4px solid #bad98b;
}
nav div div ul li:nth-child(2n):active {
  background-color: #709932;
}
nav div div ul li:nth-child(2n+1) {
  background-color: #F2CC0F;
  border-bottom: 4px solid #f7e170;
}
nav div div ul li:nth-child(2n+1):active {
  background-color: #c3a40b;
}
@media (max-width: 991px) {
  nav div div {
    display: block;
  }
  nav div div ul li {
    width: 97vw;
    margin: 7px 5px;
  }
}

/*Navbar related style END*/
/*ALL PAGES CONTENT END*/
/*----------------------------------*/
/*PAGE SPECIFIC ELEMENTS START*/
/*Landing site specific elements START*/
.carousel {
  width: 35vw;
  margin: 0 auto;
}
.carousel .carousel-inner .carousel-item {
  height: 85vh;
}
@media (max-width: 991px) {
  .carousel {
    width: 50vw;
  }
}
@media (max-width: 768px) {
  .carousel {
    width: 60vw;
  }
}

#respIMG {
  margin: 0 auto;
  padding-top: 3px;
  display: none;
  width: 74.5vw;
}

@media (max-width: 991px) {
  .carousel {
    display: none;
  }
  #respIMG {
    display: block;
  }
}
#content {
  margin: 20px auto;
  margin-bottom: 0;
  text-align: center;
  display: block;
}
#content .box {
  width: 21vw;
  height: 40vh;
  background-color: #8CBF3F;
  border: #000 2px solid;
  margin: 30px 30px;
  display: inline-block;
}
@media (max-width: 1200px) {
  #content .box {
    width: 35vw;
  }
}
@media (max-width: 991px) {
  #content .box {
    width: 42vw;
  }
}
@media (max-width: 768px) {
  #content .box {
    width: 50vw;
  }
}
#content .box:nth-child(3n+1) {
  background-color: #9453a6;
}
#content .box:nth-child(3n+2) {
  background-color: #F2CC0F;
}
#content div {
  overflow: auto;
}
#content div h3 {
  margin-top: 7px;
  font-family: Pattaya;
}
#content div p {
  display: flex;
  font-family: Roboto;
}

#sponsors {
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
}
#sponsors .card {
  width: 20vw;
  height: 40vh;
  overflow: auto;
}
#sponsors .card img {
  width: 40vw;
}
@media (max-width: 1200px) {
  #sponsors .card {
    width: 30vw;
  }
}

/*Landing site specific elements END*/
/*----------------------------------*/
/*About page specific elements START*/
#aboutFEST {
  background-color: #8CBF3F;
}
#aboutFEST .card {
  background-color: #c5df9e;
}

#aboutMAYOR {
  background-color: #F2CC0F;
}
#aboutMAYOR .card {
  background-color: #f9e688;
}

.about {
  border: 1px black solid;
  width: 60vw;
  padding-left: 5px;
  text-align: center;
  display: block;
  margin: 40px auto 0;
}
.about h1 {
  margin: 10px auto 20px;
}
.about h3 {
  margin-bottom: 20px;
}
.about div {
  margin-bottom: 30px;
  display: flex;
}
.about div .text {
  margin: 5px 35px 0px 5px;
  width: 70vw;
  text-align: left;
}
.about div .card {
  width: 30vw;
  overflow: auto;
  height: 40vh;
}
@media (max-width: 991px) {
  .about div {
    display: block;
  }
  .about div .card {
    height: 25vh;
  }
  .about div .text {
    width: 50vw;
  }
}

/*About page specific elements END*/
/*Media page specific elements START*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smallIMG {
  width: 16vw;
}
@media (max-width: 991px) {
  .smallIMG {
    width: 50vw;
  }
}

.colSM {
  height: 170px;
  overflow: hidden;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .colSM {
    height: 220px;
  }
}

.row {
  text-align: center;
  padding-top: 40px;
}

iframe {
  width: 50vw;
  height: 60vh;
}
@media (max-width: 991px) {
  iframe {
    width: 74vw;
    height: 40vh;
  }
}

/*Media page specific elements END*/
/*FAQ page specific elements START*/
.accordion {
  padding: 20px 0;
  width: 67vw;
}
.accordion .accordion-item .accordion-button {
  background-color: #8CBF3F;
  height: 9vh;
}
.accordion .accordion-item .accordion-body {
  background-color: #bad98b;
}
.accordion .accordion-item:nth-child(3n+1) .accordion-button {
  background-color: #9453a6;
}
.accordion .accordion-item:nth-child(3n+1) .accordion-body {
  background-color: #bf95ca;
}
.accordion .accordion-item:nth-child(3n+2) .accordion-body {
  background-color: #f7e170;
}
.accordion .accordion-item:nth-child(3n+2) .accordion-button {
  background-color: #F2CC0F;
}

/*FAQ page specific elements END*/
/*Contact page specific elements START*/
.contact {
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.contact #frame {
  border: 10px #9453a6 double;
  border-radius: 5px;
  background-color: #8CBF3F;
}
.contact #frame p {
  padding: 4px;
}
.contact #frame iframe {
  width: 24vw;
  height: 40vh;
}
.contact #contactForm div {
  display: flex;
  justify-content: space-evenly;
}
.contact #contactForm div input {
  background-color: #fafae2;
}
.contact #contactForm div #first {
  border: 0;
  border-bottom: #9453a6 4px solid;
  border-radius: 5px;
  width: 14vw;
  height: 4vh;
  margin-right: 10px;
  padding-left: 4px;
}
.contact #contactForm div #last {
  border: 0;
  border-bottom: #F2CC0F 4px solid;
  border-radius: 5px;
  width: 14vw;
  margin-right: 10px;
  padding-left: 4px;
}
.contact #contactForm div #email {
  border: 0;
  border-bottom: #8CBF3F 4px solid;
  border-radius: 5px;
  width: 14vw;
  padding-left: 4px;
}
.contact #contactForm div #freeText {
  margin-top: 40px;
  width: 40vw;
  height: 25vh;
  padding: 8px;
  background-color: #fafae2;
}
.contact #contactForm div button {
  margin: 40px 0;
  width: 14vw;
  height: 5vh;
  background-color: #b90707;
  color: white;
  border: 0;
  border-radius: 8px;
  font-size: 1.5em;
}
@media (max-width: 1200px) {
  .contact {
    display: block;
  }
  .contact #contactForm div #firstName {
    height: 5vh;
    width: 20vw;
  }
  .contact #contactForm div #lastName {
    width: 20vw;
  }
  .contact #contactForm div #email {
    width: 20vw;
  }
  .contact #contactForm div #freeText {
    margin-top: 40px;
    width: 40vw;
    height: 25vh;
  }
  .contact #frame iframe {
    width: 45vw;
  }
}
@media (max-width: 768px) {
  .contact #contactForm div #freeText {
    width: 60vw;
  }
  .contact #frame iframe {
    width: 68vw;
  }
}

/* Quiz page specific elements START*/
#quiz {
  width: 70vw;
  margin-top: 20px;
  background-color: #9453a6;
  border: 5px double #F2CC0F;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#quiz .quiz-item {
  background-color: #F2CC0F;
  width: 26vw;
  margin: 25px auto;
  border: 1px #8CBF3F solid;
  border-radius: 5px;
  text-align: left;
  padding: 10px;
}
#quiz .quiz-item div {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */